<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="Starter App">
    <Require feature="rpc"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
<!DOCTYPE html>
<!-- The hangout API JavaScript. Always include this first -->
<script src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.0"></script>

<!-- The JavaScript for this app. This must always be a full URL not a
     relative path.
     Tip: You can load it from a local web server such as
     http://localhost/app.js for faster single user development -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//hangoutdnd.appspot.com/static/token.js"></script>
<script src="//hangoutdnd.appspot.com/static/app.js"></script>

<canvas id="myCanvas" width="700" height="700"
        style="border:1px solid #000000; display: none;">
    No canvas available!
</canvas>

<div class="game-console">
<p id="game-console"></p>
</div>

<div id="Welcome">
  <h1>Welcome to the Dungeons and Dragons Hangout!</h1>
  <div style="float: left; padding: 0px 20px">
    <p>Ready to play?</p>

    <input type=button value="Click Me!" id="Play!"
        onClick="countButtonClick()"/>
  </div>
</div>

]]></Content>
</Module>
